@model IEnumerable<ProyectoJL.Models.Sucursal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombresucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreencargado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombresucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreencargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDSucursal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDSucursal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDSucursal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
